*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   outline: 0%;
}

.navbar-light .navbar-brand {
    color: rgb(255, 8, 0);
    font-weight: bold;
}

.row img{
    width: 300px;
}

.row p{
    text-align: center;
}
.mony{
    color: red;
}

.container {
    margin-top: 80px;
}

.row .img1{
    width:299px;
    height: 450px;
}



.row .img3-4 .img4{
    margin-top: 20px;
}


.sec3 img{
    border-bottom:2px solid rgb(226, 6, 6);
}

.sec3 strong{
    margin-left: 15px;
    font-size: x-large;
    
}
.sec3 p{
    color: red;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    background-color: red;
    border: none;
}


.foot{
    align-items: center;
}
.foot h2{
    font-size: 50px;
}

.foot img{
    height: 368px;
    width: 345px;
}